* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body>header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  top:0;
  background: darksalmon;
}