$widthArticle : 450px;
$rowGap: 10px;
$columnGap: 30px;


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body>header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: sticky;
  top:0;
  background: darksalmon;
}
body > header > h1::before{
  content: "X";
}
body main{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#galeria img{
  width: $widthArticle;
  height: 675px;
  object-fit: cover;
  object-position: center center;
}
#galeria{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  row-gap:$rowGap;
  column-gap:$columnGap;
  width: calc($widthArticle * 4 + $columnGap * 3);
}
#galeria article{
  border: 1px black solid;
  width: $widthArticle;
}
main>section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main>section h2{
  font-size: 30px;
  margin: 10px 0;
}

main>section p{
  width: 600px;
}

main>section:nth-child(2) img{
  width: 600px;
}

footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (min-width: 900px){
  body > header{
    background: red;
  }
}
body > header > button{
  display: none;
}

