*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#tuberia{

    position: absolute;
    bottom: 0;
    width: 200px;
    height: 200px;
}
#container {

    position: absolute;
    bottom: 200px;
    width: 70px;
    height: 80px;
    margin-left: 70px;
    overflow: hidden;
    z-index: -1;
    animation: pujarTuberia 3s 0s 1 linear;

}

#container>img{

    margin-left: -210px;
    margin-top: 0;
    /* name, duration, timing-function, delay, iteration-count*/
    animation: corre 1s steps(1) 3s infinite;

}


@keyframes pujarTuberia{

    0%{
        transform: translateY(+50px);
    }
    20%{
        transform: translateY( 0px);
    }
    40%{
        transform: translateY(-50px);
    }
    60%{
        transform: translateY(-100px);
    }
    80%{
        transform: translateY(-50px);
    }
    100%{
        transform: translateY( 0px);

    }
}

@keyframes corre {

    0%{
        margin-left: 0px;

    }
    50%{
        margin-left: -140px;


    }


}